<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="styles/onepage-scroll.css" rel="stylesheet" type="text/css">
    <link href="styles/glide.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="content">
    <section>
        1
    </section>

    <section>
        2
    </section>

    <section>
        3
    </section>

    <section>
        4
    </section>

    <section>
        <div class="slider">
            <ul class="slides">
                <li class="slide">5.1</li>
                <li class="slide">5.2</li>
                <li class="slide">5.3</li>
                <li class="slide">5.4</li>
            </ul>
        </div>
    </section>
</div>

<script type="text/javascript" src="scripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="scripts/jquery.glide.min.js"></script>
<script type="text/javascript" src="scripts/jquery.onepage-scroll.min.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>