<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <title>Метро для всех</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/leaflet/leaflet.css" />
    <link rel="stylesheet" href="libs/geolocation/L.Control.Locate.ie.min.css" />
    <link rel="stylesheet" href="libs/geolocation/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

    <meta property="og:title" content="Ваш выход">
    <meta property="og:description" content="{{indoorSides[0]}}{{indoorSides[1]}}{{indoorSides[2]}}{{station.indoor.instructions[0]}}...">
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/fbimg.png" url="images/fbimg.png">
    <meta name="twitter:image:src" content="images/fbimg.png">


</head>
<body ng-app="myApp" ng-controller="metroCtrl">
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="libs/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="libs/underscore.string/dist/underscore.string.min.js"></script>
    <script type="text/javascript" src="libs/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="libs/Leaflet.PolylineDecorator/leaflet.polylineDecorator.min.js"></script>
    <script type="text/javascript" src="libs/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script type="text/javascript" src="libs/geolocation/L.Control.Locate.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers.js"></script>
    <script type="text/javascript" src="app/services.js"></script>
    <script type="text/javascript" src="app/filters.js"></script>
    <script type="text/javascript" src="app/directives.js"></script>


    <div class="mapScreen">
        <div ng-click="show_sharing=false; code_show=false;">
            <leaflet events-broadcast="events" bounds="bounds" center="center" paths="paths" markers="markers" controls="controls" defaults="defaults"></leaflet>
        </div>

        <div class="popup" ng-show="$route.current.params.searchData" >
            <div class="search-bar" ng-click="$location.path( '/' );">
                <div class="text">{{destination}}</div>
                <img src="images/search-icon.png"/>
            </div>

            <div class="accordion">
                <accordion>
                    <accordion-group ng-class="{
                                        sok: station.exit.station.line.name == 'Сокольническая',
                                        zam: station.exit.station.line.name == 'Замоскворецкая',
                                        arb: station.exit.station.line.name == 'Арбатско-Покровская',
                                        fil: station.exit.station.line.name == 'Филевская',
                                        kol: station.exit.station.line.name == 'Кольцевая',
                                        kri: station.exit.station.line.name == 'Калужско-Рижская',
                                        tag: station.exit.station.line.name == 'Таганско-Краснопресненская',
                                        kal: station.exit.station.line.name == 'Калининско-Солнцевская',
                                        ser: station.exit.station.line.name == 'Серпуховско-Тимирязевская',
                                        lub: station.exit.station.line.name == 'Люблинско-Дмитровская',
                                        kah: station.exit.station.line.name == 'Каховская',
                                        but: station.exit.station.line.name == 'Бутовская'
                                        }"
                                     ng-repeat="(i, station) in stations"
                                     is-open="openedAccArr[i]" ng-click="clickOnAccHeader(i);">
                    <!--<accordion-group ng-class="getLineClass(station.exit.station.line.name);" ng-repeat="(i, station) in stations" ng-init="isOpen = (i==0)" is-open="isOpen" ng-click="notify(station.exit.id)" heading='{{station.exit.station.name}}'>-->
                        <accordion-heading>
                            <div class="num{{i}}">
                                {{station.exit.station.name}}
                                <small>{{station.exit.station.line.name}}</small>
                                <div class="distance"> {{station.distance.toFixed()}}м </div>
                            </div>
                        </accordion-heading>

                        <div ng-if="indoorSides.length">{{indoorSides[0]}}<br \>{{indoorSides[1]}}<br \>{{indoorSides[2]}}</div>
                        <p></p>
                        <b>Выход в город</b>
                        <div class="indor">
                               <ul>
                                   <li class="li-path" ng-class="{
                                   straight:instruction.toLowerCase().search('прямо')!=-1 || instruction.toLowerCase().search('вверх')!=-1,
                                   left:instruction.toLowerCase().search('лево')!=-1,
                                   right:instruction.toLowerCase().search('право')!=-1,
                                   turnik:instruction.toLowerCase().search('турнике')!=-1,
                                    escalat:instruction.toLowerCase().search('эскалат')!=-1,
                                    lest:instruction.toLowerCase().search('лест')!=-1
                                   }" ng-repeat="instruction in station.indoor.instructions track by $index">{{instruction}}</li>
                               </ul>
                        </div>

                        <!--,-->


                        <p></p>
                        <b>В городе</b>
                        <div class="outdor">
                               <ul>
                                   <li class="li-path" ng-class="{
                                   straight:instruction.toLowerCase().search('прямо')!=-1 || instruction.toLowerCase().search('вверх')!=-1,
                                   left:instruction.toLowerCase().search('лево')!=-1,
                                   right:instruction.toLowerCase().search('право')!=-1,
                                   turnik:instruction.toLowerCase().search('турнике')!=-1,
                                   escalat:instruction.toLowerCase().search('эскалат')!=-1,
                                   lest:instruction.toLowerCase().search('лест')!=-1
                                   }" ng-repeat="instruction in station.instructions.descriptions track by $index">{{instruction}}</li>
                               </ul>
                        </div>
                    </accordion-group>
                </accordion>
            </div>

        </div>

        <div class="sharings">
            <img ng-click="show_sharing = !show_sharing; code_show = false" class="share-btn shadow" src="images/share-png.png">
            <div ng-show="show_sharing" class="share-buttons shadow">
                <img ng-click="fbshare()" src="images/facebook-icon.png">
                <img ng-click="vkshare()" src="images/vk-icon.png">
                <img ng-click="send_mail()" src="images/email-icon.png">
                <img ng-click="code_show = !code_show" src="images/html-icon.png">
                <img ng-click="print()" src="images/print.png">
            </div>
            <div class="html-share shadow" ng-show="code_show" >
                <textarea class="form-control" rows="3"><iframe src='{{$location.absUrl()}}' width='475px' height='600px' frameborder='0'/></textarea>
            </div>
        </div>
    </div>

    <div ng-hide="$route.current.params.searchData" class="searchScreen">
        <div class="whiteBg"></div>

        <div class="search_form">
            <form autocomplete="off" action="{{'#/'+destination+'/0'}}">
                    <input type="text" class="form-control" id="destination" placeholder="Введите адрес"
                       typeahead="address for address in getLocation($viewValue) | filter:$viewValue"
                       ng-model="destination" autofocus/>

                    <input type="submit" class="send_btn" value=""
                       style="background-image: url(images/search.png); border: solid 0px #000000; width: 50px; height: 40px;" />
            </form>
            <div class="search-desc">Узнайте, как добраться до своего пункта назначения от ближайших станций метро, включая маршрут под землей</div>
        </div>


    </div>

    <div class="header">
        <a href="#">
            <h2>ВАШ ВЫХОД</h2>
        </a>
        <div class="subheader">Поиск удобного выхода из метро</div>
        <img src="images/nextgis.png">
    </div>
    <!--
    <div class="container">
        <div class="page-header">
            <h1>Метро <small>для всех!</small></h1>
        </div>

        <form role="form" ng-submit="searchRoute(destination)">
            <div class="col-sm-10">
                <label class="sr-only" for="destination">Место назначения</label>
                <input type="text" class="form-control" id="destination" placeholder="Мне сюда"
                       typeahead="address for address in getLocation($viewValue) | filter:$viewValue"
                       ng-model="destination" typeahead-on-select="searchRoute(destination)" autofocus/>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary form-control"
                        ng-disabled="isEmpty(destination)">Найти</button>
            </div>
        </form>

        <span>&nbsp;</span>

        <div>
            <leaflet events-broadcast="events" bounds="bounds" center="center" paths="paths" markers="markers" controls="controls" defaults="defaults"></leaflet>
        </div>

        <a ng-if="exit_id" ng-href="/static/sharing.html?exit_id={{exit_id}}&lat={{lat}}&lon={{lon}}">Поделиться</a>

        <div ng-if="stations.length">
        <table class="table table-striped table-condensed table-hover">
            <tbody>
            <tr ng-repeat="station in stations" ng-click="notify(station.exit.id)">
                <td>
                    <div class="pull-left">
                        <strong>{{station.exit.station.name}}</strong>&nbsp;
                        <em><small>{{station.exit.station.line.name}}</small></em><br />
                        <small>{{station.distance.toFixed()}} м.</small>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="panel col-sm-6">
            <h3>Выход в город</h3>

            <ul>
                <li ng-if="indoorSides.length">{{indoorSides[0]}}<br \>{{indoorSides[1]}}<br \>{{indoorSides[2]}}</li>
                <li ng-repeat="instruction in indoorInstructions track by $index">{{instruction}}</li>
            </ul>

        </div>

        <div class="panel col-sm-6">
            <h3>В городе</h3>

            <ul>
                <li ng-repeat="instruction in outdoorInstructions track by $index">{{instruction.text}} ({{instruction.distance}})</li>
            </ul>
        </div>

        </div>

    </div>
-->

</body>
</html>