.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #3276b1;
    color:#eeeeee;
}

.angular-leaflet-map {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    border: 4px #fff solid;
    margin-bottom: 20px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
}

.whiteBg{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    background-color: #ffffff;
    opacity: 0.8;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 24px;
}
.header a{
    text-decoration: none !important;
    color: #ffffff !important;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #27adda !important;
    color: #ffffff !important;
    padding-left: 20px;
}

.header h2{
    width: 200px;
}

.header img{
    position: absolute;
    right: 6px;
    top: 17px;
}

.search_form{
    position: fixed;
    top: 40%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
}
.send_btn{
    position: absolute;
    top: 0px;
    right: 0px;
}

.form-control{
    height: 40px;
    font-size: 24px;
}

.search-desc{
    position: absolute;
    top: 49px;
    left: 50%;
    width: 540px;
    margin-left: -300px;
    font-size: 16px;
    color: #444444;
}

.dropdown-menu{
    background-color: transparent;
    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: -5px;
}
.dropdown-menu li{
    background-color: #ffffff;
    margin-top: 0px;
    font-size: 15px;
    font-weight: normal;
    border-bottom: solid #dfdfdf 1px;
}

.dropdown-menu li a{
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-menu li:hover{
    background-color: #27adda;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    background-color: #27adda;
}

.popup{
    position: absolute;
    top: 70px;
    left: 23px;
}

.search-bar{
    width: 400px;
    height: 40px;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.25);
}
.search-bar .text{
    width: 1000px;
    font-size: 18px;
    padding-left: 16px;
    line-height: 40px;
    color: #4b4b4b;
}
.search-bar img{
    position: absolute;
    top: 0px;
    right: 0px;
}

.panel{
    border-width: 0px 0px 0px 0px;
}

.panel-group .panel{
    margin-bottom: 5px;
    border-radius: 0px;
    margin-top: -1px !important;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.25);
}
.panel-heading{
    padding: 7px;
    background-color: #ffffff !important;
}

.panel-heading h4{
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
    padding-top: 3px;
}

.panel-heading a{
    cursor: pointer;
}

.accordion{
    position: absolute;
    width: 350px;
    top: 53px;
}

.panel-heading{
    border-left-style: solid;
    border-left-width: 5px;
    border-radius: 0px;
}

.sok .panel-heading { border-left-color: #ed1b35 !important;}
.sok .indor { border-left-color: #ed1b35 !important;}

.zam * { border-left-color: #44b85c !important;}
.arb * { border-left-color: #0078bf !important;}
.fil * { border-left-color: #19c1f3 !important;}
.kol * { border-left-color: #894e35 !important;}
.kri * { border-left-color: #f58631 !important;}
.tag * { border-left-color: #8e479c !important;}
.kal * { border-left-color: #ffcb31 !important;}
.ser * { border-left-color: #a1a2a3 !important;}
.lub * { border-left-color: #b3d445 !important;}
.kah * { border-left-color: #79cdcd !important;}
.but * { border-left-color: #acbfe1 !important;}

.distance{
    float: right;
    color: darkgray;
    font-size: 12px;
}

ul{
    margin: 0px;
    padding: 0px;
}

.li-path{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    background-repeat: no-repeat !important;
    padding-left: 30px;
    line-height: 14px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 6px;
    /*background-image: url("../../images/dot.png") !important;*/
}

.indor{
    /*background-image: url("../../images/list-bg.png") !important;*/
    background-repeat: repeat-y !important;
    background-position: 15px 0px !important;
    border-left: 5px solid;
    margin-left: -15px;
    padding-left: 15px;
}

.outdor{
    /*background-image: url("../../images/list-bg.png");*/
    background-repeat: repeat-y !important;
}

.straight{
    background-image: url("../../images/straight.png") !important;
}

.left{
    background-image: url("../../images/left.png") !important;
}

.outdor .left{
    background-image: url("../../images/leftl.png") !important;
}

.left_fast{
    background-image: url("../../images/left-fast.png") !important;
}

.outdor .left_fast{
    background-image: url("../../images/left-fast-l.png") !important;
}

.left_slow{
    background-image: url("../../images/left-slow.png") !important;
}
.outdor .left_slow{
    background-image: url("../../images/left-slowl.png") !important;
}

.right{
    background-image: url("../../images/right.png") !important;
}
.outdor .right{
    background-image: url("../../images/rightl.png") !important;
}

.outdor .right_fast{
    background-image: url("../../images/right-fastl.png") !important;
}

.outdor .right_slow{
    background-image: url("../../images/right-slowl.png") !important;
}

.exit{
    background-image: url("../../images/exit.png") !important;
}

.turnik{
    background-image: url("../../images/turnikets.png") !important;
}

.escalator{
    background-image: url("../../images/escalator.png") !important;
}
.outdor .escalator{
    background-image: url("../../images/escalatorl.png") !important;
}

.continue{
    background-image: url("../../images/continue.png") !important;
}
.escalator_down{
    background-image: url("../../images/escalator-down.png") !important;
}
.outdor .escalator_down{
    background-image: url("../../images/escalator-downl.png") !important;
}
.stairs_up{
    background-image: url("../../images/stairs-up.png") !important;
}
.stairs_down{
    background-image: url("../../images/stairs-down.png") !important;
}
.doors_left{
    background-image: url("../../images/doors-left.png") !important;
}
.outdor .doors_left{
    background-image: url("../../images/doors-leftl.png") !important;
}
.doors_right{
    background-image: url("../../images/doors-right.png") !important;
}
.outdor .doors_right{
    background-image: url("../../images/doors-rightl.png") !important;
}
.right2{
    background-image: url("../../images/right2.png") !important;
}
.outdor .right2{
    background-image: url("../../images/right2l.png") !important;
}
.left2{
    background-image: url("../../images/left2.png") !important;
}
.outdor .left2{
    background-image: url("../../images/left2l.png") !important;
}
.right3{
    background-image: url("../../images/right3.png") !important;
}
.outdor .right3{
    background-image: url("../../images/right3l.png") !important;
}
.left3{
    background-image: url("../../images/left3.png") !important;
}
.outdor .left3{
    background-image: url("../../images/left3l.png") !important;
}


.panel-body {
    font-size: 13px;
    border-left: 0px solid;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0px;
}

.leaflet-top{
    margin-top: 52px;
}

.angular-leaflet-map{
    border-width: 0px;
}

.share-btn{
    position: fixed;
    right: 10px;
    bottom: 25px;
    cursor: pointer;
}

.html-share{
    position: fixed;
    right: 10px;
    bottom: 98px;
    cursor: pointer;
    width: 200px;
    height: 77px;
    background-color: #ffffff;
    padding: 5px;
}
.form-control{
    font-size: 13px;
}

.share-buttons{
    position: fixed;
    right: 10px;
    bottom: 54px;
    cursor: pointer;
    width: 190px;
    height: 44px;
    padding: 10px;
    background-color: #44add8;
}

.shadow{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.25);
}

.subheader{
    position: absolute;
    left: 105px;
    top: 29px;
    font-size: 12px;
}

.leaflet-control-locate{
    border: 0 !important;
}

.leaflet-bar-part{
    background-color: #ffffff !important;
}

.likes{
    position: fixed;
    right: -136px;
    top: 22px;
}

.uv-icon.uv-bottom-right{
    bottom: 20px!important;
    right: 40px!important;
}

.fa{
    margin-top: 5px;
}
.uv-icon svg{
    width: 29px !important;
}

.hidden{
    display: none;
}

.print .search-bar{
    display: none;
}

.print .accordion{
    top: 10px;
    position: absolute;
    z-index: 10;
}

.print .noprint{
    display: none;
}

.print .uv-icon{
    display: none;
}

.print .leaflet-control-container{
    display: none;
}

.print .angular-leaflet-map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 800px;
    z-index: -1;
    padding-left: 100px;
}

.print .header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 50px;
}

.print .panel-body{
    background-color: #ffffff !important;
}

.print {
    -webkit-print-color-adjust: exact;
}

.print *{
    -webkit-print-color-adjust: exact;
}

.print-input{
    position: absolute;
    top: 810px;
    left: 30px;
    padding-bottom: 100px;
}

textarea{
    width: 940px;
}


.likes{
    position: fixed;
    top: 23px;
    right: 116px;
}