body {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-family: helvetica;
    font-size: 20px;
    font-weight: lighter;
}

.page {
    width: 800px;
    height: 600px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;

    background-color: #ffffff;
}

a {
    color: black;
    text-decoration: none; /* Убираем подчеркивание */
    font-family: helvetica;
    font-size: 25px;

}

h2 {
    background-color: black;
    clear: left;
    color: #ffffff;
    display: inline-block;
    font-size: 35px;
    font-weight: normal;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.first_bg {
    width: 100%;
    height: 100%;
    position: absolute;
}