.slide:nth-child(1){
    background-image: url('bg1.jpg');

}

.slide:nth-child(1) .bg2{
    background-image: url('bg1.png');
}
.slide:nth-child(5) .bg2{
    background-image: url('visbg.png');
}

.slide{
    width: 100%;
    height: 600px;
    text-align: center;
    border-width: 1px;
    border-color: lightgrey;
    border-style: dashed;

    font-family: PTSans;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.bg2{
     width: 100%;
     height: 600px;
     position: absolute;
     left: 0px;
     top:0px;
     z-index: 1;
 }
.content{
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0px;
    top:0px;
    z-index: 100;
    padding-top: 200px;
}

.small{
    font-size: 14px;
}

span{
    background-color: #ffffff;
}
a{
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}