*{
    font-family: 'PT Sans', sans-serif;
}

body{
    background-color: #eeeeee;
}

.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.content{
    position: relative;
    width: 70%;
    min-width: 530px;
    margin: 20px auto;
    z-index: 10;
}

.popup{
    font-style: italic;
}

.first_slide{
    height: 323px;
}

.self_photo{
    float: left;
    padding-right: 20px;
}

.photo{
    background-image: url("../images/im-small.png");
    width: 240px;
    height: 323px;
}

.header{
    padding-top: 80px;
    padding-left: 10px;
}

.hallo{
    font-size: 60px;
}

.short{
    font-size: 20px;
}