*{
    font-family: 'PT Serif', serif;
    color: #3d464d;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
}

body{
    background-color: #ffffff;
    overflow-x: hidden;
}

.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.top_header{
    position: relative;
    width: 80%;
    height: 50px;
    border-bottom: solid #ccc 1px;
    z-index: 10;
    margin: 50px auto;
    font-size: 18px;
    font-family: 'PT Serif', serif;
    min-width: 530px;
}

.top-right{
    float: right;
    margin-top: -9px;
}

.box{
    overflow-x: hidden;
    width: 100%;
}

.content{
    position: relative;
    width: 70%;
    min-width: 530px;
    max-width: 700px;
    margin: 20px auto;
    z-index: 10;
}

.popup{
    font-style: italic;
}

.first_slide{
    height: 323px;
    width: 100%;
}

.self_photo{
    position: relative;
    margin-left: 50%;
}

.photo{
    background-image: url("../images/im-small.png");
    width: 232px;
    height: 323px;
    margin-left: -116px;
}

.sequence{
    position: absolute;
    top: 0px;
    left: -116px;

    width: 232px;
    height: 323px;

    background-image: url("../images/sequence/bg.png");
    background-position: 0px 0;
}

.header{
    padding-top: 30px;
}

.white{
    background-color: white;
}

.about{
    margin-top: 20px;
}

.menu{
    font-size: 20px;
    text-align: center;
}

.menu div{
    display: inline;
    margin-bottom: 10px;
    text-decoration: underline;
}

.short{
    margin-top: 30px;
}

.long{
    margin-top: 30px;
}

.short-btn{
    cursor: pointer;
}

.long-btn{
    cursor:pointer;
}

.btn-selected{
    text-decoration: none !important;
}

.hidden{
    display: none;
}

h2{
    margin-top: 40px;
    font-size: 22px;
    letter-spacing: -1px;
}

.portfolio{
    position: relative;

}

.portfolio img{
    position: absolute;
}

.p-header{
    margin-bottom: 10px;
}
.p-desc{
    padding-top: 370px;
    max-width: 530px;
    left: 0px;
}

.contacts{
    background-color: #ffffff;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 100px;
    height: 100px;
}

.contacts a{
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: dotted;
}

.left{
    width: 50%;
    height: 65px;
    border-right: solid 1px #cccccc;
    float: left;
    padding-top: 35px;
    padding-left: 10px;
}

.right{
    height: 71px;
    padding-top: 29px;
    float: right;
}

.right_btn{
    position: absolute;
    left: 530px;
    top: 90px;
    width: 150px;
    height: 350px;
    z-index: 100;
    cursor: pointer;
}