{% extends "lab/lab.html" %}
{% block script_style %}


    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var imageSearch;
        var source_list;

        google.load("search", "1");
        $(document).ready(function () {
            $(".test").click(function () {
                $('.txt_area').val("Волки на кобыле, львы в автомобиле, зайчики в трамвайчике, жаба на метле")
            });


            $('.btn').click(function () {
                $('.images').html("");
                var source_text = $('.txt_area').val();
                source_list = split_small_words(source_text.replace(/\n/g, " <br/> ").split(" "));


                start_search()
            });
        });

        function start_search() {
            var url = $('.url').val();
            if (url == "") url = "flickr.com";
            if (source_list[0] == "<br/>") {
                $('.images').append("<div class='input-block-level divider'/>");
                source_list.shift();
                start_search();
                return;
            }
            imageSearch = new google.search.ImageSearch();
            imageSearch.setSearchCompleteCallback(this, searchComplete, null);
            imageSearch.setSiteRestriction(url);
            imageSearch.execute(source_list[0]);
        }

        function searchComplete() {
            if (imageSearch.results.length == 0) {
                $('.images').append("<div class='all'> <small>" +
                        source_list[0] + "</small><br/>" +
                        "<div class='txtimg' style='background-image: url(http://upload.wikimedia.org/wikipedia/ru/a/ac/No_image_available.svg)' ></div>" +
                        "</div>");
                if (source_list.length != 1) {
                    source_list.shift();
                    start_search();
                }
            }



            image = imageSearch.results[0].tbUrl;
            $('.images').append("<div class='all'> <small>" +
                    source_list[0] + "</small><br/>" +
                    "<div class='txtimg' style='background-image: url(" + image + ")' ></div>" +
                    "</div>");

            if (source_list.length != 1 && source_list.length != 0) {
                source_list.shift();
                start_search();
            }
        }

        function split_small_words(words_list) {
            ready_list = [];
            for (var i = 0; i < words_list.length; i++) {
                word = words_list[i];
                if (word.length == 0) continue;

                if (word.length < 3) {
                    ready_list.push(word + " " + words_list[++i]);
                } else {
                    ready_list.push(word);
                }
            }
            return ready_list;
        }
    </script>
    <style>

        body {
            padding-top: 60px;
        }

        .divider{
          width: 1000px;
            height: 130px;
        }

        .txtimg {
            padding-top: 10px;
            width: 100px;
            height: 100px;
            padding-right: 10px;
            color: #777777;
            background-color: #dadada;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .all {
            width: 130px;
            height: 130px;
            display: inline;
            float: left;
            background-color: #FFFFFF;
        }

        .txtimg:hover {
            color: #232323;
            float: left;
        }

        .images {
            display: inline;
            float: left;

        }
    </style>


{% endblock %}
{% block container %}

 <iframe src="http://vid-1.rian.ru/ig/mahimka/zao/preloader2.swf" width="1000" height="1200" align="left">
 
 <br>
    <h1>Images Reader</h1>

    <p>Введите ваш текст и он будет автоматически конвертирован в последовательность изображений.
        Каждое изображение соответствует первому результату поисковой выдачи сервиса Google Images</p>
    <a class="muted test">
        <small>
            Пример: Волки на кобыле, львы в автомобиле, pайчики в трамвайчике, жаба на метле
        </small>
    </a>
    <P></P>

    <textarea class="input-block-level txt_area" rows="10"></textarea>
    <a class="btn  pull-left">Абыр!</a>
    <div class="navbar-search pull-right">
        Источник изображений: <input type="text" class="url search-query" placeholder="flickr.com">
    </div>
    <br/>
    <p></p>
    <br>

    <div class="images input-block-level"  >

    </div>
{% endblock %}

{% block footer %}
    <div class="container">

        <div id="fb-root" class="input-block-level"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123243167734681";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-like" data-href="http://www.closed-space.ru/lab/letters/" data-send="true" data-width="450"
             data-show-faces="true"></div>

    </div>



{% endblock %}